#board {
    height: 300px;
    width: 275px;
}
.boxxy {
    height: 80.33px;
    width: 80.33px;
    max-height: 80.33px;
    max-width: 80.33px;
    
}

body {
    background-image: url("/img/stadium.jpeg");
    background-color: #cccccc;
    background-size: cover;
   }